header{
  height: 40px;
  background-color: black;
}

.logo{
  font-size: 25px;
  margin-left: 40px;
  font-style: bold;
  color :white;
}


form{
  margin: 10px;
  border-color: gray;
  border-style: solid;
  border-width: 2px;
  padding: 30px;
}

h3{
  margin: 10px;
}

#close{
  text-align: right;
  font-size: 15px;
  font-color:gray;
}

#exampleInputPassword1{
  width:30%;
}