header{
  height: 40px;
  background-color: black;
}

main{
  margin-left: 15%;
  margin-right: 15%;
}

#title{
  height: 120px;
  background-color: red;
}

#content{
  overflow:hidden;
  display: flex;
}

.date{
  margin:10px;
  margin-top: 10px;
}

#blog{
  float:left;
  background-color:yellow;
  width:80%;
  padding:20px;
}

#blog1{
  margin-top: 70px;
}

#blog2{
  margin-top: 70px;
}
#blog3{
  margin-top: 70px;
}

#time{
   text-align: right;
}

#sidebar{
  float:right;
  background-color: orange;
  width: 20%;
}

footer{
  background-color: gray;
  height: 100px;
}

