header{
  height: 40px;
  background-color: white;
  margin-right:30px;
  margin-top: 10px;
  overflow: hidden;
}

header > a{
  float :right;
  opacity:0.3;
}

.logo{
  font-size: 25px;
  margin-left: 40px;
  float: left;
  font-style: bold;
}

main{
  margin-left: 15%;
  margin-right: 15%;
}

#category_title{
  font-weight: 700;
}

#category{
  margin-top:90px;
}



#title{
  height: 120px;
  margin-top: 70px;
  text-align: center;
  font-size: 30px;
}

a{
  text-decoration: none;
}

.subtitle{
  color: gray;
  font-size:15px;
}

#content{
  overflow:hidden;
  display: flex;
}

.date{
  margin:10px;
  margin-top: 10px;
  color: gray;
}

h1{
  opacity: 0.8;
  font-size:20px;
  color:#47a89c;
}

#blog{
  float:left;
  background-color:white;
  width:75%;
  padding:20px;
}

#button{
  float:right;
}

#edit{
  opacity:0.3;
  font-size: 17px;
  border-color: gray;
  border-style: solid;
  border-width: 0.5px;
}

#blog1{
  margin-top: 70px;
  margin-bottom: 150px;
}

#blog2{
  margin-top: 70px;
  margin-bottom: 150px;
}
#blog3{
  margin-top: 70px;
  margin-bottom: 150px;
}

#time{
   text-align: right;
   margin-top:70px;
   margin-right: 20px;
}

#sidebar{
  float:right;
  background-color: white;
  width: 25%;
  padding-left:30px;
}

#id{
  text-align: center;
  margin:10px;
}

.person_img {
  padding:10px;
}

#description{
  color:gray;
}

.person_info {
  float: right;
}

.icon{
  border-radius: 50%; 
  border-color: white;
  border-width: 5px;
  border-style: solid;
  box-shadow: 0px 0px 15px gray;
}

footer{
  background-color: #f1f1f1;
  height: 100px;
}

